<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  <label for=""></label>
  <input type="" name="" id="">
  
  <h2>Hero 1</h2>
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <h2>Hero 2</h2>
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <h2>Hero 3</h2>
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <label for=""></label>
  <input type="" name="" id="">
  
  <input type="submit" id="Submit" value="submit">
  
</form>
